NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/scaling-garbanzo?retryWrites=true&w=majority
SALT_ROUNDS=12
APP_NAME=scaling-garbanzo
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
